# Porta da aplicação
PORT=3000

# Configuração do banco de dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=trackrep

# Chave secreta utilizada para geração dos tokens JWT
JWT_SECRET=sua_chave_secreta_aqui